<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-4.0.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
           http://www.springframework.org/schema/data/jpa
           http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

    <!-- Skanuj pakiet WWSIS (nie pl.atins.sos!) -->
    <context:component-scan base-package="WWSIS" />
    <context:annotation-config />

    <!-- DataSource - HSQLDB in-memory -->
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="org.hsqldb.jdbc.JDBCDriver" />
        <property name="url" value="jdbc:hsqldb:mem:sosdb;DB_CLOSE_DELAY=-1" />
        <property name="username" value="sa" />
        <property name="password" value="" />
    </bean>

    <!-- EntityManagerFactory - Hibernate jako dostawca JPA -->
    <bean id="entityManagerFactory"
          class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="packagesToScan" value="WWSIS.entity" />
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="showSql" value="true" />
                <property name="databasePlatform" value="org.hibernate.dialect.HSQLDialect" />
            </bean>
        </property>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.format_sql">true</prop>
            </props>
        </property>
    </bean>

    <!-- TransactionManager - wymagany do @Transactional i repozytoriów JPA -->
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>

    <!-- Włącz obsługę @Transactional -->
    <tx:annotation-driven transaction-manager="transactionManager" />

    <!-- Repozytoria Spring Data JPA - skanuj pakiet WWSIS.repository -->
    <jpa:repositories base-package="WWSIS.repository"
                      entity-manager-factory-ref="entityManagerFactory"
                      transaction-manager-ref="transactionManager" />

    <!-- Obsługa wyjątków JPA → Spring DataAccessException -->
    <bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />
    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />
    <!-- ============================================================ -->
    <!-- BEANY DAO - dodaj do swojego applicationContext.xml         -->
    <!-- przed zamykającym tagiem </beans>                           -->
    <!-- ============================================================ -->

    <bean id="studentDao" class="WWSIS.dao.impl.StudentDaoImpl" />
    <bean id="przedmiotDao" class="WWSIS.dao.impl.PrzedmiotDaoImpl" />
    <bean id="zapisDao" class="WWSIS.dao.impl.ZapisDaoImpl" />
    <bean id="oplataDao" class="WWSIS.dao.impl.OplataDaoImpl" />
    <bean id="wypozyczenieDao" class="WWSIS.dao.impl.WypozyczenieDaoImpl" />
</beans>